Beste {{ ontvangerNaam }},

Goed nieuws: je bijdrage "{{ jottemTitel }}" is goedgekeurd en staat online in het
project {{ projectNaam }} van {{ organisatie.naam }}.

Je jottem heeft een blijvende link gekregen:
{{ jottemUrl }}

Deel de link met familie, vrienden en oud-bekenden - hoe meer mensen je jottem zien,
hoe meer herinneringen en aanvullingen erbij komen.

--
Je ontvangt dit bericht van {{ organisatie.naam }} via Jottem ({{ platformUrl }}).
