Beste {{ ontvangerNaam }},

Er is een verwijderverzoek ingediend voor "{{ jottemTitel }}" (kenmerk {{ verzoekNummer }}).
Opgegeven reden:

  {{ reden }}

Let op: voor verwijderverzoeken geldt een afhandeltermijn van {{ termijnDagen }} dagen (AVG).
Handel het verzoek tijdig af: {{ afhandelUrl }}

--
Je ontvangt dit bericht van {{ organisatie.naam }} via Jottem ({{ platformUrl }}).
