{% extends "email/base.html" %}
{% comment %}
Jottem-versie van de wachtwoordresetmail (schaduwt de ingebouwde template).
Nederlands, tutoyerend, B1-taalniveau.
{% endcomment %}

{% load humanize %}

{% block content %}
<tr>
  <td align="center">
    <h1>Hoi {{ user.name|default:user.username }},</h1>
  </td>
</tr>
<tr>
  <td align="center">
    <table border="0">
      <tr>
        <td align="center" style="max-width: 300px; padding: 20px 0; color: #1f1e1c;">
          Je hebt gevraagd om een nieuw wachtwoord voor je Jottem-account.
          Klik op de knop hieronder om een nieuw wachtwoord in te stellen.
        </td>
      </tr>
      <tr>
        <td align="center" class="btn btn-primary">
          <a id="confirm" href="{{ url }}" rel="noopener noreferrer" target="_blank">Stel een nieuw wachtwoord in</a>
        </td>
      </tr>
    </table>
  </td>
</tr>
{% endblock %}

{% block sub_content %}
<tr>
  <td style="padding: 20px; font-size: 12px; color: #1f1e1c;" align="center">
    Heb je dit niet zelf gevraagd? Dan kun je deze e-mail negeren; je wachtwoord blijft
    ongewijzigd. De link hierboven verloopt {{ expires|naturaltime }}.
  </td>
</tr>
{% endblock %}
